### In this notebook, We Will clean The data in "rkpuram_aqi_data.csv"
###### dir : Data/air_quality_data/rkpuram_aqi_data.csv 
###### It contains AQI data from 2014 to 2022
###### We also divide data year wise also

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("Data/air_quality_data/rkpuram_aqi_data.csv")

In [2]:
df.head()

        date   pm25  pm10  o3  no2  so2  co
0  2022/10/1    172   101  54   18    1  10
1  2022/10/2    154    82  44   16    1   6
2  2022/10/3    116    96  72   22    2   9
3  2022/10/4    149   106  65   21    2  11
4  2022/10/5    171    39  19    7    1   4

In [3]:
df.describe

<bound method NDFrame.describe of            date   pm25  pm10  o3  no2  so2  co
0     2022/10/1    172   101  54   18    1  10
1     2022/10/2    154    82  44   16    1   6
2     2022/10/3    116    96  72   22    2   9
3     2022/10/4    149   106  65   21    2  11
4     2022/10/5    171    39  19    7    1   4
...         ...    ...   ...  ..  ...  ...  ..
2932  2014/3/27    167   131  58   33   10  11
2933  2014/3/28    183    99  50   20    8   7
2934  2014/3/29    157    86  55   13    7   6
2935  2014/3/30    132   105  69   18    9   7
2936  2014/3/31    153   172  48   25   13  17

[2937 rows x 7 columns]>

In [4]:
df.columns

Index(['date', ' pm25', ' pm10', ' o3', ' no2', ' so2', ' co'], dtype='object')

In [5]:
df.drop(df.iloc[:, 2:], inplace=True, axis=1)

In [6]:
df.columns

Index(['date', ' pm25'], dtype='object')

In [7]:
# cheching date type
print(type(df.date[0]))

<class 'str'>

In [8]:
# converting to "date" column data to type(date/timestamp)
df['date'] = pd.to_datetime(df['date'])

In [9]:
print(type(df.date[0]))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [10]:
# Setting the Date values as index
df = df.set_index('date')

In [11]:
date_index2 = pd.date_range('2013-12-31', '2022-10-07 ', freq ='D')

In [12]:
# reindex df by date_range to insert missign dates in df
# sorting the df by date (Automatically) / df = df.sort_values(by='date')
# fill_value = 0 deafult value for missing dates
df = df.reindex(date_index2, fill_value=0)

In [13]:
df.describe

<bound method NDFrame.describe of              pm25
2013-12-31      0
2014-01-01    268
2014-01-02    266
2014-01-03    250
2014-01-04    390
...           ...
2022-10-03    116
2022-10-04    149
2022-10-05    171
2022-10-06     61
2022-10-07     62

[3203 rows x 1 columns]>

In [14]:
df = df.drop(['2013-12-31'])

In [15]:
df = df[:-7]

In [16]:
df.columns.values[0] = 'pm25'

In [17]:
# saving the new CSV to sorted_final_data.csv with index
df.to_csv("Data/air_quality_data/sorted_pm_data_2014_2022.csv", index=True)

In [18]:
year_days = { 2014 : 365, 2015 : 365, 2016 : 366, 2017 : 365, 2018 : 365, 2019 : 365, 2020 : 366, 2021 : 365, 2022 : 273 }

In [19]:
data = pd.read_csv("Data/air_quality_data/sorted_pm_data_2014_2022.csv")
data.columns.values[0] = 'date'
data.to_csv("Data/air_quality_data/sorted_pm_data_2014_2022.csv", index=False)

In [20]:
data = pd.read_csv("Data/air_quality_data/sorted_pm_data_2014_2022.csv")

In [21]:

# air_quality_data2013
start = 0
end = 0
for year in range(2014,2023):
    end += year_days[year]
    df = data[start:end]
    df.to_csv(f'Data/air_quality_data/air_quality_data{year}.csv', index=False)
    start += year_days[year]